.App {
  /* text-align: center; */
  font-family: 'Lato', sans-serif;
  margin: 2% 10% 5%;
  line-height: 1.6;
}

hr{
border-color: #ffffff;
}

.MuiTableCell-head{
border-right: 1px solid rgba(176, 176, 176, 1);
}

ProgressCase{
width: 100%;
background-color: grey;
}

ProgressBar{
width: 0%;
height: 30px;
background-color: green;
}

.Title {
  font-size: 32px;
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.widthThinner {
  text-align: center;
  margin: auto;
  max-width: 70%;
}

.tableInfo {
  min-width: 15%;
  padding-left: 7px;
}

.scalePoint {
  margin: 25px;
}

.Subtitle {
  font-size: 24px;
  font-weight: bold;
}

.BigText {
  font-size: 21px;
}

.Text {
  font-size: 18px;
}

.Question {
  font-size: 20px;
  font-weight: bold; 
  margin-top: 40px;
  margin-bottom: 20px;
}

.Spotlight {
  text-decoration: underline;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.Bold {
  font-weight: bold;
}

.RedSpotlight {
  color: red;
}

.QuestionMargin {
  margin-bottom: 15px;
  margin-top: 20px;
}

.Answer {
  display: inline-block;
  margin: 10px;
  font-weight: normal;
}

.Slider {
  margin-top: 50px;
}

.SliderMarker {
  margin-bottom: 20px;
  width: 60%;
  font-size: 16px;
  display: inline-block;
  font-weight: normal;
}

.SliderLabel {
  width: 25%;
  float: left;
}

.SliderTicks {
  margin-left: 20%;
  margin-top: -14px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 60%;
  float: center;
  font-size: 14px;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  min-width: 60px;
}

.LikertScale {
  margin-top: 5px;
  margin-bottom: 9.5px;
  /* overflow: hidden; */
  width: 1200px;
  /* text-align: center;
  margin-left: -100px; */
}

table, td {
  /* width: 400px; */
  width: 1000px;
  font-size: 18px;
  border: 1px solid rgb(177, 176, 176);
}

.tableLeftCol {
  /* width: 400px; */
  width: 20%;
  font-weight: bold;
  padding: 6px;
  /* background-color: rgb(231, 230, 230); */
  border-right: 2px solid black;
}

.tableHeader {
  width: 20%;
  font-weight: bold;
  padding: 6px;
  border-bottom: 2px solid black; 
  text-align: center;
}

.tableRightCol {
  width: 60%;
  padding: 6px;
}

.List {
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 50px;
  font-weight: bold;
}
